.results-container{
    display: grid;
    place-content: center;
}
.results-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}

photo-card{
  position: relative;
}



photo-card:hover::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      45deg,
       blue, deeppink, blue,
       blue, deeppink, blue
  );
  background-size:800%;
  border-radius: 10px;
  filter: blur(8px);
  transform: scale(1.1);
  animation: glowing 50s linear infinite;
}


li {
  list-style: none;
  opacity: 0; /* Comienza con una opacidad de 0 para ocultar los elementos */
  transform: translateY(20px); /* Puedes ajustar la distancia de desplazamiento */
  transition: opacity 0.5s ease-in, transform 0.5s ease-in; /* Agrega la transición ease-in */
}

li.fade-in {
  opacity: 1;
  transform: translateY(0);
}


.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0; /* Comienza con una opacidad de 0 para ocultar el botón */
    transition: opacity 0.3s ease-in; /* Agrega la transición ease-in */
  }

  .scroll-to-top.show{
    opacity: 1;
  }
  
  .scroll-to-top .material-icons {
    font-size: 24px;
  }
  
  @keyframes glowing {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400%  0;
    }
    100%{
        background-position: 0 0;
    }

}
