.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.main-container > .description {
    font-size: 1.3rem;
}
.main-container > search-bar {
    width: 70%;
    max-width: 650px;
}

@media screen and (max-width: 768px) {
    
    h1{
        font-size: 6rem;
    }

    .description {
        width: 90%;
        text-align: center;
    }
    /* Ajustar otros estilos según sea necesario para dispositivos más pequeños */
}